*/node_modules/*
agent-verse-frontend/dist/*
agent-verse-frontend/node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
agent-verse-frontend/node_modules/.package-lock.json
agent-verse-frontend/dist/index.html
agent-verse-frontend/node_modules/.package-lock.json
agent-verse-frontend/node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
